--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/cu90/torch_stable.html
torch==0.4.1.post2
torchvision==0.2.2.post3
scipy==1.2.1 
matplotlib==3.0.3
Pillow==8.2.0
Cython==0.29.7
six==1.12.0
easydict==1.9 
opencv-python==4.2.0.32
numpy==1.16.3 
scikit-image==0.15.0  
pandas==0.24.2
